
@{
	ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Me pondre en comtacto contigo lo más pronto posible</p>

<div><a asp-action="Index" asp-controller="Home">Regresar a home</a>
	</div>