@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @ViewBag.Nombre (@ViewBag.Edad)</h1>
    <h2>Soy un desarrollador .NET Fullstack Developer</h2>


    <img
       id="foto"
        src="~/imagenes/foto.png" alt="foto de kenneth" />
</div>
